{% extends 'extensions/base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/gvm/target.css' %}">
{% endblock stylesheets%}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 section-name">Create Target</h2>
            <form id="create_target">
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control border-bottom-only" style="width:49%" placeholder="Target Name" id="name" name="name" required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control border-bottom-only" id="hosts" placeholder="Host" name="host" required />
                    </div>
                    <div class="col">
                        <select class="form-select border-bottom-only" placeholder="Port" id="port_lists" name="port_lists" required>
                            <option value="" hidden selected disabled>Please select specific port</option>
                            {% for child in port_lists%}
                                <option value="{{child.id}}">{{child.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control border-bottom-only" placeholder="Comment" id="comment" name="comment" />
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-primary" onclick="if(confirm('Are you sure you want to create this target?')) create_target()">Create</button>
        </div>
    </div>
    <div class="col">
        <h2 class="mt-3 section-name">Targets List</h2>
        <div class="card text-dark target-list-title-row mt-4" id="delete_target">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <strong>ID</strong>
                    </div>
                    <div class="col-2">
                        <strong>Name</strong>
                    </div>
                    <div class="col-2">
                        <strong>Comment</strong>
                    </div>
                    <div class="col-2">
                        <strong>Ports</strong>
                    </div>
                    <div class="col-2">
                        <strong>Hosts</strong>
                    </div>
                </div>
            </div>
        </div>
        <div id="targets_list">
            {%for child in targets%}
            <div class="card text-dark" id="target_{{child.id}}">
                <div class="card-body">
                <div class="row">
                    <div class="col-3">
                    {{child.id}}
                    </div>
                    <div class="col-2">
                    {{child.name}}
                    </div>
                    <div class="col-2">
                    {{child.comment}}
                    </div>
                    <div class="col-2">
                    {{child.port_list}}
                    </div>
                    <div class="col-2">
                    {{child.hosts}}
                    </div>
                    <div class="col-1">
                        <button class="btn btn-danger" id="{{ child.id }}" onclick="if(confirm('Are you sure you want to delete this?')) deleteTarget();"
                        style="margin-left:-15px;" {% if child.in_use is '1' %} disabled="disabled" class="disabled" {% endif %}>
                            Delete
                        </button>
                    </div>
                </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock content%}
    
{% block javascripts %}
<script>
    function createTargetElement(target) {
        const targetElement = document.createElement('div');
        targetElement.className = 'card text-dark';
        var target_id = target.id;
        targetElement.id ="target_" + target.id;
        targetElement.innerHTML = `
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  ${target.id}
                </div>
                <div class="col-2">
                  ${target.name}
                </div>
                <div class="col-2">
                  ${target.comment}
                </div>
                <div class="col-2">
                  ${target.port_list}
                </div>
                <div class="col-2">
                  ${target.hosts}
                </div>
                <div class="col-1">
                    <button class="btn btn-danger" id="${target.id}" onclick="if(confirm('Are you sure you want to delete this?')) deleteTarget();"
                    style="margin-left:-15px;" ${target.in_use === '1' ? 'disabled="disabled" class="disabled"' : ''}>
                        Delete
                    </button>
                </div>
              </div>
            </div>
        `;
        return targetElement;
    }
    async function create_target() {
        const token = "{{ csrf_token }}";
        const name = document.getElementById("name").value;
        const comment = document.getElementById("comment").value;
        const hosts = document.getElementById("hosts").value;
        const port_lists = document.getElementById("port_lists").value;

        const data = new FormData();
        data.append('name', name);
        data.append('comment', comment);
        data.append('hosts', hosts);
        data.append('port_lists', port_lists);
        
        const response = await fetch('/gvm/target/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': token
            },
            body: data
        }).then((response) => response.json());
        console.log("hehe: ", response);
        if (response.status == "201") {
            document.getElementById("create_target").reset();
            const targetElement = createTargetElement(response.target);
            const targetList = document.getElementById('targets_list');
            targetList.prepend(targetElement);
            alert('Code: ' + response.status + "\n\n" + "Message: " +  response.status_text);
        }
        else {
            alert('Error Code: ' + response.status + "\n\n" + "Message: " +  response.status_text);
            document.getElementById("create_target").reset();

        }
    }
    async function deleteTarget() {
        var token = "{{ csrf_token }}";
        var target_id = event.target.id;
        var url = '/gvm/target/' + target_id;
        var response = await fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': token
            }
        }).then((response) => response.json());
        if (response.status == "200") {
            document.getElementById("create_target").reset();
            alert('Code: ' + response.status + "\n\n" + "Message: " +  response.status_text);
            const targetElement = document.getElementById(`target_${target_id}`);
            if(targetElement) {
                targetElement.remove();
            }
            else {
                alert('Update Target List Error');
            }
        } else {
            alert('Error Code: ' + response.status + "\n\n" + "Message: " +  response.status_text);
        }
    }
</script>
{% endblock javascripts %}
