.btn-exploit {
    background-color: #0b57d0;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 550;
}

.btn-exploit:hover {
    background-color: #357ae8;
    color: #fff;
}


body {
    background-color: #f5f7fa;
}

.header {
    background-color: #e3f2fd;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
}

.badge {
    font-size: 0.9rem;
    padding: 0.5em 0.7em;
    border-radius: 5px;
}

.section-name {
    background-color: #7996c2;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: x-large;
    padding-left: 25px;
}