.btn-primary {
    background-color: #0b57d0;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 550;
    width: 80px;
    height: 40px;
}
.btn-primary:hover {
    background-color: #357ae8;
}
.border-bottom-only {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; /* Optionally remove border-radius */
    border-bottom-width: 2px;
    
}
.border-bottom-only:focus {
    box-shadow: none;
}
.section-name {
    background-color: #7996c2;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-size: x-large;
    padding-left: 25px;
}
.target-list-title-row {
    background-color: #F2F4F7;
}
.btn-danger {
    border-radius: 20px;
    width: 80px;
    height: 40px;
}

.btn-success {
    border-radius: 20px;
    border-radius: 20px;
    width: 80px;
    height: 40px;
}
