<!DOCTYPE html>
<html>
<head>
  <style>
    .footer  {
      font-size: 0.75rem;
      margin: 15px 15px 0 15px;
      font-weight: 400;
      letter-spacing: 0.00625rem;
      line-height: 1.33333333;
    }
    .footer .tool_name {
      float: right;
    }
  </style>
</head>
<body>

  <footer class="footer">
    <span><a target="_blank" href="https://github.com/11TnM06/">manhhd</a></span>
    <span class="tool_name"> Advanced Development of Automatically Testing Tool </span>
  </footer>
</body>
</html>

